## Titanic Survival Perdiction 

##### First Kaggle Assignment ####

1) Introduction

Import Libraries
Load data
Run Statistical summeries
Figure out missing value columns

2) Visualizations

Correlation with target variable

3) Missing values imputation

train data Missing columns- Embarked,Age,Cabin
test data Missing columns- Age and Fare


4) Feature Engineering

Calculate total family size
Get title from name
Find out which deck passenger belonged to
Dealing with Categorical Variables
Label encoding
Feature Scaling


5) Prediction

Split into training & test sets
Build the model
Feature importance
Predictions
Ensemble : Majority voting
6) Submission

In [6]:

import numpy as np

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share your notebook.
client_cc2889efb40a4122af2dd557f0bb5425 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='NCd9Yeltx1H8c6ngKLx7UtuQxEjYISeWrnaZ7CytmikH',
    ibm_auth_endpoint="https://iam.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_cc2889efb40a4122af2dd557f0bb5425.get_object(Bucket='titanic-donotdelete-pr-sd371zfeyqvse8',Key='train.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

train = pd.read_csv(body)
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:

body = client_cc2889efb40a4122af2dd557f0bb5425.get_object(Bucket='titanic-donotdelete-pr-sd371zfeyqvse8',Key='test.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

test = pd.read_csv(body)
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S